.fundo-verde {
  background-color: #00C65E;

}
a {
  color: #00C65E;
  font-size: 20px;
  text-decoration: none
}

a:visited {
  color: #F7FDFA;
}

.dropdown-menu a:visited {
  color: #00C65E;
}

.nav-item {
  margin-left: 50px;
}

.margin {
  margin-left: 40%;
}
